$accent: hsl(8, 62%, 58%);

:root {
  // Colours
  --accent: #{$accent};
  --dark: #000;
  --gray: #C0C0C0;
  --darkgray: #222;
  --medgray: #999;
  --lightgray: #e0e0e0;
  --white: #fff;
  --error: #721c24;
  --border-thin: var(--s-5);
  --border-thick: var(--s-2);
  --border-radius: 4px;
  
  // Modular Scale Typography & Spacing
  --ratio: 1.4;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));--s3:calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));--s5:calc(var(--s4) * var(--ratio));
  
  // Max-width for readability
  --measure: 65ch;
  
  // Font stacks
  --font-stack-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-stack-special: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
