@import './components/variables_general.scss';
@import './components/mixins_general.scss';
@import './components/resets_and_improvements.scss';
@import "./components/forms.scss";
@import './components/tables.scss';
@import './components/responsive_layout_utilities.scss';
@import './components/modal.scss';
@import './components/svg_and_text_pairs.scss';


///////////////////////////////////
// Global styles
///////////////////////////////////

:root {
  color: var(--darkgray);
  line-height: var(--ratio);
  font-family: var(--font-stack-main);
  font-size: 1rem;
}

a {
  color: var(--accent);
}


///////////////////////////////////
// Sticky/Rooted Footer
///////////////////////////////////

@supports (display: grid) {
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  main {
    min-width: 0;
  }
}


///////////////////////////////////
// Typography
///////////////////////////////////

h2 {
  color: var(--accent);
  font-family: var(--font-stack-special);
  font-size: var(--s1);
}


///////////////////////////////////
// Header
///////////////////////////////////

.global-header {
  background: var(--accent);
  padding: var(--s1);
}

h1 {
  color: var(--white);
  font-family: var(--font-stack-special);
  font-size: calc(var(--s2) - var(--s-1));
}


///////////////////////////////////
// Footer
///////////////////////////////////

.global-footer {
  background-color: darken($accent, 45%);
  color: var(--white);
  padding: var(--s1);
}

.global-footer a {
  color: var(--white);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  & * {
    font-size: calc(var(--s0) - var(--s-5));
  }
}

.github-link :last-child {
  margin-left: .4em;
}


///////////////////////////////////
// Main Content
///////////////////////////////////

.primary-content {
  padding: var(--s1) var(--s1) calc(var(--s1) * 2);
}

.note {
  margin-top: 1rem;
  color: #666;
  svg {
    display: none;
    @include at-least(60em) {
      display: block;
    }
  }
}

.form-rates-base {
  display: flex;
  justify-content: flex-end;
}

.form-rates-base .form-group {
  display: flex;
  align-items: center;
  
  input {
    width: 5rem;
    margin-left: var(--s-2);
  }
}

.form-rates-base [type="submit"] {
  margin-left: var(--s-1);
}

// 'Latest Rates' table

.latest-rates-table {
  tr {
    cursor: pointer;
  }
  tr:hover, 
  .currency-selected {
    background-color: var(--lightgray);
  }
}
