///////////////////////////////////
// Variables, mixins and resets
///////////////////////////////////

@import "./components/variables_general.scss";
@import "./components/mixins_general.scss";
@import "./components/resets_and_improvements.scss";
@import "./components/modal.scss";


///////////////////////////////////
// Utilities
///////////////////////////////////

.container {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--measure);
}

.stack {
  --flow-space: var(--s1);
  padding: var(--flow-space) 0;
  & * + * {
    margin-top: var(--flow-space);
  }
}


///////////////////////////////////
// Responsive Type
///////////////////////////////////

@include at-least(60em) {
  :root {
    font-size: 106.25%;
  }
}


///////////////////////////////////
// Global
///////////////////////////////////

a {
  color: var(--accent);
}


///////////////////////////////////
// Sticky/Rooted Footer
///////////////////////////////////

@supports (display: grid) {
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  main {
    min-width: 0;
  }
}


///////////////////////////////////
// Header
///////////////////////////////////

.global-header {
  background: var(--dark);
  padding: var(--s1);
}

h1 {
  color: var(--white);
  font-size: calc(var(--s2) - var(--s-1));
}


///////////////////////////////////
// Footer
///////////////////////////////////

.global-footer {
  background: var(--dark);
  color: var(--white);
  padding: var(--s1);
}

.global-footer a {
  color: var(--white);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  & * {
    font-size: calc(var(--s0) - var(--s-5));
  }
}


///////////////////////////////////
// Main Content
///////////////////////////////////

.primary-content {
  padding: 0 var(--s1) calc(var(--s1) * 2);
}
  
h2 {
  color: var(--accent);
  font-size: var(--s1);
  margin-top: var(--s1);
}
  
#app {
  border-bottom: var(--border-thin) solid var(--lightgray);
  margin-top: calc(var(--s2)/4);
}
  
.baseline-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-wrap {
  height: 80px;
}

.api-data-link {
  color: var(--medgray);
}
  
// Handle tables in narrow viewports
.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: calc(var(--s2)/2);
  padding-left: 0;
}

// tbody tr:hover {
//   background-color: var(--lightgray);
// }

.currency-selected {
  background-color: var(--lightgray);
}
  
// tr:nth-child(1) {
//   border-bottom: var(--border-thin) solid var(--lightgray);
// }

// tr:nth-child(3) {
//   border-top: var(--border-thin) solid var(--lightgray);
//   border-bottom: var(--border-thin) solid var(--lightgray);
// }
