
<div class="container">

  <%= form_tag(rates_path, method: :get) do %>
    <%= text_field_tag :amount, params[:amount] %>
    <%= submit_tag 'Get Rates', name: nil %>
  <% end %>

  <h2>Foreign Exchange Rates</h2>
  <p>
    The time is now: <%= Time.now %>
  </p>

</div>


